<script>
	$(function() {
		$('.new-lesson-button').click(function( event ) {
			var lessonUrl = $( event.target).data('lesson-url');
			$('#newLessonForm').attr('action', lessonUrl);
		});
	});
</script>

<script>
  $(function() {
    $('.lessons').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { lesson: { row_order_position: ui.item.index() } }
        });
      }
    });
   });
</script>

<script>
  $(function() {
    $('.sections').sortable({
      update: function( event, ui ) {
        $.ajax({
          type: 'PUT',
          url: ui.item.data('update-url'),
          dataType: 'json',
          data: { section: { row_order_position: ui.item.index() } }
        });
      }
    });
   });
</script>

<br />
<div class="soft-box col-8 offset-2">
	<h1 class="text-center"><%= current_course.title %>
		<%= link_to 'Preview', course_path(current_course), class: 'btn btn-warning margin-left', style: 'margin-left: 10px; margin-bottom: 5px;' %>
		<hr />
		<% if current_course.image.present? %>
			<%= image_tag current_course.image.url, class: 'img-fluid' %>
		<% else %>
			<%= image_tag 'placeholder.jpg', class: 'img-fluid' %>
		<% end %>
	</h1>
</div>

<br />

<div class="clear"></div>

	<div class="col-sm-6 col-6 offset-3">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSectionModal">
		  Add New Section
		</button>	
	</div>

<br />

<div class="col-6 offset-3">
	<% if current_course.sections.present? %>
		<h5>Drag and Drop to Rearrange</h5>
	<% end %>
</div>

	<ul class="sections">
		<% current_course.sections.rank(:row_order).each do | section | %>
			<div class="section col-6 offset-3" style="margin-top:-40px">
				<li data-update-url="<%= instructor_section_path(section) %>" class="section-li">
					<div class="header">
						<span class="fa fa-ellipsis-v"></span>
						<h3 style="font-weight:500; margin-left:10px;">
							<%= section.title %>
<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary btn-small new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>" style="margin-bottom: 5px; margin-left:10px;">
  							Add New Lesson
							</button>
						</h3>
					</div>
					<ul class="lessons text-center col-10 offset-1">
						<% section.lessons.rank(:row_order).each do | lesson | %>
							<li data-update-url="<%= instructor_lesson_path(lesson) %>" class="lesson lesson-li">
								<div class="row">
									<div class="col-1">
										<span class="fa fa-ellipsis-v"></span>
									</div>
									<div class="col-10">
										<h4><b><%= lesson.title %></b></h4>
									</div>
								</div>
								<h5><%= lesson.subtitle %></h5>
							</li>
						<% end %><br />
					</ul>
				</li>
			</div>
		<% end %>
	</ul>

<!-- Modal -->
<div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newSectionModalLabel">Add New Section</h4>
      </div>
      <%= simple_form_for @section, url: instructor_course_sections_path(current_course) do | f | %>
      <div class="modal-body">
				<div class="form-inputs">
					<%= f.input :title %>
				</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="form-actions">
					<%= f.submit "Add Section", class: 'btn btn-primary' %>
				</div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="newLessonModalLabel">Add New Lesson</h4>
      </div>
      <%= simple_form_for @lesson, url: "#", html: {id: 'newLessonForm' } do |f| %>
	      <div class="modal-body">
						<div class="form-inputs">
							<%= f.input :title %>
							<%= f.input :subtitle %>
							<%= f.input :video %>
						</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <%= f.submit "Add Lesson", class: 'btn btn-primary' %>
	      </div>
      <% end %>	
    </div>
  </div>
</div>
	