<div class="courso col-12", style='padding:0px'>
		<br />
		<div class="col-12 col-sm-4 frosty">
			<br />
			<h1 class="text-left">Browse Available Courses</h1>
			<br />
		</div>
</div>

<div class="row">
	<% @courses.each do |course| %>
		<div class="col-12 col-sm-5 offset-1", style="margin-left:auto; margin-right:auto;">
			<div class="soft-box", style="height:80%;">
				<div class="col-12 text-center">
					<h2>
						<%= link_to course.title, course_path(course), style:"font-weight: 400;" %>
					</h2>		
				</div>	
				<div class="row">
					<% if course.image.present? %>
						<%= image_tag course.image.url, class: 'img-fluid' %>
					<% else %>
						<%= image_tag 'placeholder.jpg', class: 'img-fluid' %>
					<% end %>
					<div class="col-10 offset-1 text-center">
						<br />
						<h5 class="scrip"><%= course.description %></h5>
					</div>
			</div>
		</div>
			<div class="text-center">
			<br />
		 		<%= link_to 'Learn More', course_path(course), class:'btn btn-primary btn-lg' %>
		 	</div>
	<br />
</div>
	<% end %>