<br />

<div class="soft-box col-8 offset-2">
	<h1 class="col-sm-8 col-12"><%= @course.title %></h1>
	<hr />
	<div class="row">
		<% if @course.image.present? %>
			<%= image_tag @course.image.url, class: 'img-fluid' %>
		<% else %>
			<%= image_tag 'placeholder.jpg', class: 'img-fluid' %>
		<% end %>
		<div class="col-sm-2 col-2 offset-1">
			<br />
			<span class="badge badge-default">
				<h6>&nbsp;<%= number_to_currency @course.cost %>&nbsp;</h6>
			</span>
			<br /><br />
			<% if current_user && current_user == @course.user %>
				<%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
			<% end %>

			<br /><br />

		<% if current_user %>
			<% if current_user.enrolled_in?(@course) %>
				<h1 class="badge badge-info">You Are Enrolled</h1>
			<% else %>
				<% if @course.free? %>
					<%= link_to 'Enroll Now', course_enrollments_path(@course), class: 'btn btn-success btn-lg', method: :post %>
					<% else %>
						<%= form_tag course_enrollments_path(@course) do %>
		          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		                  data-email="<%= current_user.email %>"
		                  data-description="<%= @course.title %> (<%= number_to_currency @course.cost %>)"
		                  data-amount="<%= (@course.cost * 100).to_i %>"
		                  data-locale="auto"></script>
        	<% end %>
        <% end %>
      <% end %>
    <% else %>
    	<h3 class="badge badge-info">Sign In to Enroll</h3>
		<% end %>

		<br /><br />

		</div>

		<div class="col-12 col-sm-7 offset-1 text-center">
			<br />
			<h5><%= @course.description %></h5>
		</div>
	</div>
</div>

    <% @course.sections.rank(:row_order).each do | section | %>
      <div class="section soft-box col-10 offset-1">
        <h3 style="font-weight:500;">
          <%= section.title %>
        </h3>
        <div class="row">
          <% section.lessons.rank(:row_order).each do | lesson | %>
            <div class="col-12 col-sm-6">
              <div class="lesson text-center">
                <%= link_to lesson_path(lesson) do %>
                  <h4><b><%= lesson.title %></b></h4>
                  <h5><%= lesson.subtitle %></h5>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <br class="clr" />
      </div>
    <% end %>
  </div>
</div>